<main>

    <!-- BG color -->
    <div class="page-bg"></div>

    <!-- CSS particles BG -->
    <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
    </div>

    <section class="main-grid">
        <div class="card">
            <img src="https://verdana-details.carrd.co/assets/images/image17.jpg?v=50d34466" alt="Verdana illustration">
        </div>
        <div class="card">
            <button class="link-button commission" type="button">Commissions <i class="fa-solid fa-up-right-from-square fa-2xs"></i></button>
        </div>
        <div class="card">
            <button class="link-button tos" type="button">Terms of Service <i class="fa-solid fa-up-right-from-square fa-2xs"></i></button>
        </div>
        <div class="card">
            <img src="https://verdana-details.carrd.co/assets/images/image18.jpg?v=50d34466" alt="Verdana illustration">
        </div>
        <div class="card">
            <img src="https://verdana-details.carrd.co/assets/images/image20.jpg?v=50d34466" alt="Verdana illustration">
        </div>
        <div class="card">
            <img src="https://verdana-details.carrd.co/assets/images/image19.jpg?v=50d34466" alt="Verdana illustration">
        </div>
        <div class="card">
            <img src="https://pbs.twimg.com/media/FiSVceaXkAAY6tu?format=png&name=240x240" alt="Verdana illustration">
        </div>
        <div class="card">
            <div class="social-links">
                <a aria-label="Twiter" data-social="Twitter" href="https://twitter.com/Verdana_Medina" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                <a aria-label="Instagram" data-social="Instagram" href="https://www.instagram.com/verdanamedina/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                <a aria-label="Facebook" data-social="Facebook" href="https://www.facebook.com/Verdana.Medina" target="_blank" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a aria-label="DeviantArt" data-social="DeviantArt" href="https://www.deviantart.com/xxverdanaxx" target="_blank" class="deviantart"><i class="fa-brands fa-deviantart"></i></a>
                <a aria-label="pixiv" data-social="pixiv" href="https://www.pixiv.net/en/users/5713831" target="_blank" class="pixiv"><i class="fa-solid fa-p"></i></a>
                <a aria-label="Ko-fi" data-social="Ko-fi" href="https://ko-fi.com/verdana" target="_blank" class="kofi"><i class="fa-solid fa-mug-saucer"></i></a>
            </div>
        </div>
        <div class="card">
            <button class="link-button about" type="button">About me <i class="fa-solid fa-up-right-from-square fa-2xs"></i></button>
        </div>
        <div class="card">
            <img src="https://verdana-details.carrd.co/assets/images/image04.jpg?v=50d34466" alt="Verdana illustration">
        </div>
        <div class="card">
            <img src="https://verdana-details.carrd.co/assets/images/image14.jpg?v=50d34466" alt="Verdana illustration">
        </div>
        <div class="card">
            <img src="https://verdana-details.carrd.co/assets/images/image16.jpg?v=50d34466" alt="Verdana illustration">
        </div>
        <div class="card verdana">
            <div class="headers-wrapper">
                <h1>Hello, I'm Verdana.</h1>
                <h2>A Digital Artist based in the US.</h2>
            </div>
        </div>
    </section>

    <dialog class="modal modal-commission">
        <div class="modal-content">
            <div class="flex-wrapper">
                <span class="tap"><i>Tap anywhere to close</i></span>
                <button type="button" class="close-commission"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <p>Anime style:
                -Bust: 40 USD
                -Half body: 50 USD
                -Full Body: 65 USD
                
                *Extras:
                -Wings, weapons and external acc.: From 20 to 25 USD ea.
                -Complex armors or outfits: 20 USD
                -External Auras: 6 USD.</p>
        </div>
    </dialog>
    <dialog class="modal modal-tos">
        <div class="modal-content">
            <div class="flex-wrapper">
                <span class="tap"><i>Tap anywhere to close</i></span>
                <button type="button" class="close-tos"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <p>General:
                -Prices are subject to change.
                -You are free to use the art you buy from me as you wish, except for hate or harmful material.
                -The only thing I ask to my clients is dont forget to credit me when you post my art.
                -The price list only applies for personal use, commercial use charges +300% of the original price.
                About my service:
                -What I am offering is digital drawings made by me.
                -The styles I offer: Anime, chibi and Pokémon style.
                -The files are PNG with transparent background.
                -The files can be 4500 x 4500 300 dpi as it max dimension.
                -All my commissions have a little watermark with my name on it. You can get a non-watermarked version if it is a commercial commission.
                About payment and payment method:
                -Paypal only, USD pref.
                -Payment will be always done via Paypal invoices. I am not responsable about any payment sent via paypal.me
                -Payment is always upfront, unless the total ammount exceeds 100 USD, then you can pay 50% first then 50% after I finish the sketch.
                About refunds:
                -Once the drawing is Finished and delivered to the client, It can't be refunded.
                -Once the drawing is Finished it can't be refunded
                -Once the drawing is with the lineart and base colors,
                it can't be refunded.
                -If I finished the sketch of the drawing and you decided to cancel the commission,
                -I'll only refund the 50% you paid for it. I hope you can understand my time and the resources I use to make your drawings has a value.
                -If you decide to cancel the commission in the middle of the sketch, I'll only refund the 70% you paid for it. Same reasson as the previous point.
                -If you want to cancel the commission before I start
                with your drawing, I'll refund it. IMPORTANT: This can send you to my black list depending of the situation. So please be serious.
                What I don't draw:
                -NSFW, any suggestive, +18 or nudity content.
                -Offensive material, racism, homophobic, xenophobic, etc.
                -Realism.
                -Animals or creatures. (Pokémon are the exception to this)
                -Furries. (Animal tails or ears are the exception to this)
                -Any offense to any religion.
                -gods or goddes of any mitology or religion.
                (As you can notice I can draw characters related with religion
                from videogames, but only common characters/acolytes/priest or fictional angels).
                -Demons canonically mentioned in the christian bible. Or fictional characters wich represent them.
                -Apology to any demonic cult.
                -Gore or violence.
                -Politics stuff.
                -Custom Backgrounds.
                About communication:
                -Please always be respectful.
                -Be clear about what do you want me to do for you BEFORE send you send any ammount of money to me.
                -All the details must be perfectly clear and explained to me BEFORE you pay.
                -I will contact the client for feedback porpuses while I am doint the sketch process, lineart process, coloring process and full shading process.
                About revissions:
                -Minor changes like changing base colors won't be extra charged.
                -Minor changes requested before finishing the sketch won't be charged.
                -After finishing the sketch, depending of the kind of revissions, it can be extra charged.
                -Pose changes will be extra charged.
                -Clothing changes will be extra charged.
                -Shading changes will be extra charged.
                -Item form changes will be extra charged.
                -It's consider as a totally different commission wich its own price, if the customer decide to change the concept of the original commission.
                About Extra Charges:
                -Applied by revissions can be from 3 USD to 20 USD.
                -Extra Items like Wings, external accessories, weapons can be from 20 USD to 25 USD.
                -Very complex outfits, armors can be extra charged from 20 USD.
                -External effects, like auras are extra charged by 6 USD.
                Turn Arround Time:
                This is only average information about each drawing, the time can change depending of the number of slots I have occupied before your turn. The max time I could take for a single commission can increase till 3 months.
                -Icons arround between 4 to 7 days ea.
                -Half arround 5 to 10 days ea.
                -Full bodies arround 7 to 15 days ea.
                Once the payment is done you agree with all the Terms
                Thank you very much for reading~</p>
        </div>
    </dialog>
    <dialog class="modal modal-about">
        <div class="modal-content">
            <div class="flex-wrapper">
                <span class="tap"><i>Tap anywhere to close</i></span>
                <button type="button" class="close-about"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <p>★★ Hello! Welcome to my space! ★★
                I am a self-taught digital artist wich loves pokémon, plays ragnarok online and league of legends. Although I don't consider myself as a very social person I do my best to offer the best communication with my customers, I love drawing after all, and make my clients happy makes me happy too.
                The styles I draw are anime, chibi and pokémon style. I am practicing alot to improve the last one!
                ❣️ Please, take a look to my work, ToS, TAT
                and feel free to contact me if you are inrested or have any questions
                and want to work with me in the future ~ ❣️
                ✮ You can also buy me a Ko-fi if you want to support me https://ko-fi.com/verdana ✮
                ✿ Thank you very much! ✿
            </p>
        </div>
    </dialog>

    <dialog class="popup-image">
        <div class="img-wrapper">
            <span><i class="fa-solid fa-xmark"></i></span>
            <img src="">
        </div>
    </dialog>
</main>

            <!-- <div class="artist-img-wrapper">
                <img src="https://verdana.carrd.co/assets/images/image01.jpg?v=12c5ad25" alt="Verdana illustration">
                <div class="quote-wrapper">
                    <i class="fa-solid fa-quote-left"></i>
                    <span>Some Quote</span>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="headers">
                    <h1>Verdana Medina</h1>
                    <h2>Digital Artist</h2>
                </div>
                <div class="content">
                    <div class="pronouns">
                        <h3><i class="fa-solid fa-venus-mars"></i> Pronouns:</h3>
                        <p>Something</p>
                    </div>
                    <div class="language">
                        <h3><i class="fa-solid fa-globe"></i> Languages:</h3>
                        <p>Something</p>
                    </div>
                    <div class="nation">
                        <h3><i class="fa-solid fa-earth-americas"></i> Nationality:</h3>
                        <p>Something</p>
                    </div>
                </div>
            </div> -->